<%= form_with model: [commentable, Comment.new] do |form| %>
  <div class="form-group">
    <%= form.text_area :body, required: true,  placeholder: 'Add comment' %>
  </div>

  <div class="form-actions">
    <%= form.submit %>
  </div>
<% end %>
