$white-two: #fafafa;
$white-color: white;
$main-color: #0290ff;
$warm-gray: #888888;
$pinkish-grey: #c4c4c4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: $white-two;
}
