@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

abbr {
  font-size: 0.7rem;
  color: $warm-gray;
}

.active {
  background-color: green;
  color: white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.alert,
.error_notification {
  color: red;
  text-align: center;
  margin-top: 5px;
}

.notice {
  color: green;
  text-align: center;
}

.error {
  color: red;
}

.card {
  padding: 0.5rem;
  border: 1px solid $warm-gray;
  background-color: $white-color;
  width: 100%;
}

.main {
  margin: 1rem;
}

body {
  background-color: $white-two;
}

@mixin user_formate {
  margin: 5px 0 15px 0;

  span {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: $main-color;
    color: $white-color;
  }
}

@mixin flex_ {
  display: flex;
  justify-content: space-between;
}
