$white-two: #fafafa;
$white-color: white;
$main-color: #0290ff;
$warm-gray: #888888;
$pinkish-gray: #c4c4c4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.card {
  padding: 0.5rem;
  border: 1px solid $warm-gray;
  background-color: $white-color;
}

.main {
  margin: 1rem;
}

body {
  background-color: $white-two;
}
